/*GLOBAL STYLING FILE _GLOBAL.SCSS*/
/*---------------------GLOBAL STYLING START-------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #242424;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #242424;
}

h1,
h2 {
  line-height: 1.2;
  margin: 0.625rem 0;
}

p {
  margin: 0.625rem 0;
}

img {
  width: 100%;
}

/*CLASS STYLING START*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 2.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background-color: #fff;
  background-image: url("../Assets/Image/background/Fondo.png");
  background-repeat: no-repeat;
  border-radius: 0.625rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  padding: 1.25rem;
  margin: 0.625rem;
  color: #242424;
}
.card ::placeholder {
  color: #870C25;
}

.btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  cursor: pointer;
  background-color: #dc143c;
  border: none;
  color: #fff;
  border-radius: 0.313rem;
  transition: all 0.4s ease;
}
.btn:hover {
  transform: scale(0.9);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
}

/* ------ TEXT SIZES ------*/
.lead {
  font-size: 1.25rem;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

/*------ BACKGROUND ------*/
.bg-primary {
  background-color: #dc143c;
  color: #fff;
}

.bg-dark {
  background-color: #242424;
  color: #fff;
}

/* ------MARGIN------*/
.my-1 {
  margin: 2rem 0;
}

.my-2 {
  margin: 2.5rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 3.5rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 2rem;
}

.m-2 {
  margin: 2.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 3.5rem;
}

.m-5 {
  margin: 4rem;
}

/*------PADDING------*/
.py-1 {
  padding: 2rem 0;
}

.py-2 {
  padding: 2.5rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 3.5rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 2rem;
}

.p-2 {
  padding: 2.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 3.5rem;
}

.p-5 {
  padding: 4rem;
}

/*---------------------GLOBAL STYLING END-------------------------*/
/*HEADER STYLING FILE _HEADER.SCSS*/
/*----------HEADER| NAVBAR STYLING START----------*/
.navbar {
  background-color: #dc143c;
  color: #fff;
  height: 4.375rem;
}
.navbar.navbar .flex {
  justify-content: space-between;
}
.navbar .logo {
  color: #870C25;
  transition: all 1s ease;
}
.navbar .logo:hover {
  transform: scale(1.2);
  color: #242424;
}
.navbar .logo span {
  color: #fff;
}
.navbar nav ul {
  display: flex;
}
.navbar nav ul a {
  color: #fff;
  padding: 0.625rem;
  margin: 0 0.313rem;
  font-weight: 600;
}
.navbar nav ul a:hover {
  border-bottom: 2px solid #fff;
}
.navbar nav ul a:focus {
  color: #242424;
}

/*----------HEADER| NAVBAR STYLING END----------*/
/*MAIN STYLING FILE _MAIN.SCSS*/
/*----------MAIN STYLING START----------*/
main {
  /* --------------------SECTION #1------------------- */
  /* ------SHOWCASE START ------*/
  /* ------SHOWCASE END ------*/
  /* --------------------SECTION #2------------------- */
  /* ------CLI START ------*/
  /* ------CLI END ------*/
  /* --------------------SECTION #3------------------- */
  /* ------STATS START ------*/
  /* ------STAST END ------*/
  /* --------------------SECTION #4------------------- */
  /* ------CLOUD START ------*/
  /* ------CLOUD END ------*/
  /* --------------------SECTION #5------------------- */
  /* ------LANGUAGES START ------*/
  /* ------LANGUAGES END ------*/
}
main .showcase {
  height: 450px;
  color: #fff;
  background-color: #dc143c;
  position: relative;
}
main .showcase h1 {
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
main .showcase p {
  margin: 1.25rem 0;
}
main .showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 1.875rem;
  overflow: visible;
}
main .showcase .showcase-form {
  position: relative;
  top: 3.75rem;
  height: 350px;
  width: 400px;
  padding: 2.5rem;
  z-index: 100;
  justify-self: flex-end;
}
main .showcase .showcase-form .form-control {
  margin: 1.875rem 0;
}
main .showcase .showcase-form .form-control input[type=text],
main .showcase .showcase-form .form-control input[type=email] {
  border: 0;
  border-bottom: 1px solid #c71236;
  width: 100%;
  font-size: 1rem;
  padding: 0.188;
  background-color: transparent;
}
main .showcase .showcase-form .form-control input[type=text]:focus,
main .showcase .showcase-form .form-control input[type=email]:focus {
  outline: none;
}
main .showcase.showcase::before,
main .showcase .showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
}
main .cli .grid {
  margin-top: 150px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
main .cli .grid > *:first-child {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
main .cli .grid img {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.625rem;
}
main .cli .card-npm {
  background-image: none;
}
main .cli .card-npm h3 {
  font-size: 1 rem;
}
main .stats {
  padding-top: 6.25rem;
}
main .stats .stats-heading {
  max-width: 700px;
  margin: 30px auto;
  font-family: "Lato", sans-serif;
  color: #242424;
  font-size: 1.5rem;
}
main .stats .grid h3 {
  font-size: 1.875rem;
  font-family: "Lato", sans-serif;
}
main .stats .grid p {
  font-size: 1.25rem;
  font-weight: bold;
  color: #242424;
}
main .stats .grid p span {
  color: #c71236;
}
main .cloud .grid {
  grid-template-columns: 4fr 3fr;
}
main .cloud .grid h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
main .languages h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
main .languages .card {
  width: 260px;
  height: 150px;
  text-align: center;
  margin: 18px 10px 40px;
}
main .languages .card:hover img {
  transform: scale(0.9);
}
main .languages .card h4 {
  font-size: 1rem;
  margin-bottom: 2px;
}
main .languages .card img {
  width: 82px;
  height: 82px;
  transition: transform 0.2s ease-in;
}
main .languages .box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in;
}
main .languages .box:hover::before {
  background: linear-gradient(315deg, #ff0057, #e64a19);
}
main .languages .box:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -2px;
  bottom: -2px;
  background: #242424;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

/*----------MAIN STYLING END----------*/
/*FOOTER STYLING FILE _FOOTER.SCSS*/
/*----------FOOTER STYLING START----------*/
footer .grid {
  grid-template-columns: 2fr 1fr 1fr;
}
footer a {
  color: #fff;
  margin: 0 10px;
}
footer a:hover {
  border-bottom: 2px solid #dc143c;
  text-decoration: none;
}
footer p a {
  color: #dc143c;
}
footer .social a {
  color: #fff;
  transition: all 0.4s ease;
}
footer .social a:hover {
  border-bottom: none;
  color: #dc143c;
  transform: scale(1.3);
}

/*----------FOOTER STYLING END----------*/
/*@MEDIA QUERY STYLING FILE _MEDIAQUERY.SCSS */
/*----------@MEDIA  QUERY STYLING START----------*/
/*------4K------*/
@media (min-width: 2000px) {
  main .showcase::before,
main .showcase::after {
    content: "";
    position: absolute;
    height: 120px;
    bottom: -90px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
  }
}
/*------LAPTOP------*/
@media (max-width: 1024px) {
  main .languages .flex {
    flex-wrap: wrap;
  }
}
/*------TABLETS AND UNDER------*/
@media (max-width: 768px) {
  .grid,
.showcase .grid,
.stats .grid,
.cli .grid,
.cloud .grid {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr !important;
  }

  header .navbar {
    margin-bottom: -1px;
  }

  main {
    /*------SECTION #1 SHOWCASE START------*/
    /*------SECTION #2 CLI START------*/
    /*------SECTION #3 STATS START------*/
  }
  main .showcase {
    height: auto;
  }
  main .showcase .showcase-text {
    text-align: center;
    margin-top: 40px;
  }
  main .showcase .showcase-form {
    justify-self: center;
    margin: auto;
  }
  main .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
  main .stats .grid h3 {
    font-size: 2rem;
  }
  main .stats .grid p {
    font-size: 2rem;
  }
}
/*------MOBILE------*/
@media (max-width: 500px) {
  header .navbar {
    height: 110px;
  }
  header .navbar .flex {
    flex-direction: column;
  }
  header .navbar .flex nav ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
/*----------@MEDIA QUERY STYLING START----------*/

/*# sourceMappingURL=style.css.map */
